{% extends 'app/includes/base.html' %} 
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">

      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Teachers</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Teachers</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Teachers List</h3>
      </div>
      <div class="card-header">
         <button type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop">Add Teacher</button>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Department</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>

            {% for teacher in teacherlist %} 
              <tr>
                <td>{{ teacher.teacher_id }}</td>
                <td>{{ teacher.teacher_first_name }}</td>
                <td>{{ teacher.teacher_middle_name }}</td>
                <td>{{ teacher.teacher_last_name }}</td>
                <td>{{ teacher.department }}</td>
                <td>

                  <a href="{% url 'show-teacherinfo' teacher.id %}" class="btn btn-secondary">
                    <i class="align-middle me-0 fas fa-edit"></i>
                  </a>
                  <a data-url="{% url 'viewteacher-authdetails' teacher.id %}" class="btn btn-primary btn-get-data">
                    <i class="align-middle me-0 fas fa-list"></i>
                  </a>

                </td>
              </tr> 
            {% endfor %} 

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- Modal Add -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Teacher</h5>
        <button type="button" class="btn btn-tool" data-dismiss="modal">
                <i class="fas fa-times"></i>
        </button>
         </div>
          <form action="{% url 'add-teacher' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
            <div class="modal-body">
              {{teacherform.as_p}}

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- END Modal -->

    <!-- Modal Add -->
    <div class="modal fade" id="viewAuth_Details" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">LOGIN CREDENTIALS</h5>
            <button type="button" class="btn btn-tool" data-dismiss="modal">
              <i class="fas fa-times"></i>
            </button>
          </div>
          <div class="modal-body">
            <p><b>Username:</b> <span id="username"></span></p>
            <p><b>Default Password:</b> <span id="default_password"></span></p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a id="resetPasswordLink" class="btn btn-warning">
            <i class="align-middle me-0 fas fa-undo"></i> Reset Password </a>
          </div>
        </div>
      </div>
    </div>
    <!-- END Modal -->


  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper --> 



<style>
    .disabled-link {
    color: #black; /* Set the text color to a grayish tone */
    pointer-events: none; /* Disable pointer events to make it unclickable */
    opacity: 0.6; /* Set opacity to visually indicate it's disabled */
    cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
}
  </style>

  <script>
    $(document).ready(function(){
        $(".disabled-link").click(function(e){
            e.preventDefault(); // Prevent the default click action
        });
    });
</script>

{% endblock %}

